

<section class="bg-auth-home bg-circle-gradiant d-table w-100">
  <div class="bg-overlay bg-overlay-white"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card shadow rounded border-0 mt-4">
          <div class="card-body">
            <h4 class="card-title text-center">Signup</h4>
            <%# <form class="login-form mt-4"> %>
            <div class="row">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false}}) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
                  <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
                  <%= f.input :name,
                required: true %>
                  <%= f.input :contact_number %>
                  <%= f.input :about_me %>
                  <%= f.input :avatar_url %>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Sign up" %>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
