<section class="bg-home d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-5">
        <div class="me-lg-1">
          <%= image_tag("login_image5.png", class: "img-fluid d-block mx-auto") %>
          <div class="login img-fluid d-block mx-auto"></div>
        </div>
      </div>
      <div class=" col-lg-6  col-md-7">
        <div class="card login-page shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center mb-5">When would you like to Nap?</h4>
            <div class="row">
              <%= simple_form_for [nap_space, booking], data: { controller: 'flatpickr' } do |f| %>
                <%= f.error_notification %>
                <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                <div class="form-input">
                  <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
                </div>
                <div class="form-input">
                  <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
                </div>
                <div class="form-input">
                  <%= f.submit "Book now" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
