<%= simple_form_for [nap_space, booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-input">
    <%= f.input :start_time %>
  </div>

  <div class="form-input">
    <%= f.input :end_time %>
  </div>

  <div class="form-input">
    <%= f.submit %>
  </div>
<% end %>
