<strong>Start Date: <%= @booking.start_time %></strong> | <strong>End Date: <%= @booking.end_time %></strong>

<p><%= @booking.nap_space.description %></p>

<p>Location: <%= @booking.nap_space.address %></p>

<p>Price: $<%= @booking.total_cost %></p>

<hr>

<p><%= @booking.confirmation_status.capitalize %></p>

<% unless @booking.confirmation_status == 'cancelled' %>
  <% if (@booking.nap_space.user == current_user) %>
    <%= link_to "Confirm", booking_confirm_path(@booking) %>
    <%= link_to "Decline", booking_decline_path(@booking) %>
  <% end %>
  <% if @booking.user == current_user %>
    <%= link_to "Cancel", booking_cancel_path(@booking) %>
  <% end %>
<% end %>
