<%= simple_form_for(@nap_space) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-input">
    <%= f.input :description %>
  </div>

  <div class="form-input">
    <%= f.input :address %>
  </div>

  <div class="form-input">
    <%= f.input :cost_per_hr %>
  </div>
  <div class="form-input">
    <%= f.input :image_url, as: :file  %>
  </div>
  <div class="form-input">
    <%= f.button :submit %>
  </div>

<% end %>
