<div id="<%= dom_id nap_space %>">
  <div class=" mb-1 pb-20">
    <div class="card blog blog-primary rounded border-0 shadow overflow-hidden">
      <div class="position-relative">
        <div class="overlay rounded-top"></div>
        <div class="card-body content">
          <h3 class="card-title title text-dark">  <%= nap_space.description %></h3>
          <ul class="list-unstyled mb-0">
            <li class="list-inline-item me-2 mb-0 "><%= cl_image_tag nap_space.image_url.key, class: "thumbpost rounded" %></li>
            <li class="list-inline-item me-2 mb-0 card-body ">
              <h5 class="title"> Address</h5>
              <p class="readmore"><%= nap_space.address %></p>
              <h5 class="title"> Hourly rate:</h5>
              <p class="readmore"> $<%= nap_space.cost_per_hr %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
