<h1>Find a place for a little lie down ðŸ˜´</h1>
<p style="color: green"><%= notice %></p>


<% @nap_spaces.each do |nap_space| %>
  <%= nap_space.description %><br />
  <%= nap_space.address %>
  <p>
    <%= link_to "#{nap_space.cost_per_hr} per hr", nap_space_path(nap_space) %>
    <hr>
  </p>
<% end %>

| <%= link_to "Back to home ðŸ ", root_path %> |
<%= link_to "My upcoming bookings ðŸ—“", bookings_path %> |
