<h1>Show Time</h1>
<p style="color: green"><%= notice %></p>

<%= render @nap_space %>

<%= link_to "Edit NapSpace", edit_nap_space_path(@nap_space) %> |

<%= link_to "Index", nap_spaces_path %> |
<%= link_to "home", root_path %>
