<h1><%= @nap_space.description %></h1>
<p style="color: green"><%= notice %></p>

<%= render @nap_space %>

<% if @nap_space.user == @current_user %>
  | <%= link_to "Edit Nap Space", edit_nap_space_path(@nap_space) %> |
  <%= link_to "Delete Nap Space",
            nap_space_path(@nap_space),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
<% end %>
| <%= link_to "Book this space ðŸ—“", new_nap_space_booking_path(@nap_space)%> |
<%= link_to "Back to search ðŸ”Ž", nap_spaces_path %> |
<%= link_to "Home ðŸ ", root_path %> |
